@import "../../node_modules/font-awesome/scss/font-awesome";

@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

.btn:focus {
  box-shadow: none;
}

html, body, #app {
  height: 100%;
  overflow: hidden;
}
/*
html, body {
  border-radius: 15px;
}*/

.toolbar, .titlebar, .sidebar, .unselectable {
  cursor: default;
  -webkit-user-select: none;
}

.toolbar {
  height: 40px;
  border-bottom: 1px solid #2c2541;
  display: flex;

  color: $default-color;

  & i {
    margin-right: 5px;
  }

  button {
    line-height: 28px;
    margin: 5px;
    padding: 0 5px;
    vertical-align: inherit;
    background: transparent;
    color: $default-color;

    &:hover:enabled {
      color: #fff;
    }
  }

  .menu {
    flex: 1;
    padding: 0 10px;
    border-left: 1px solid #2c2541;
    line-height: 40px;

    & > div {
      display: inline;
    }
  }

  //& .vue-switcher div {
  //  height: 13px;
  //}

  & .vue-switcher {
    margin-right: 5px;

    & div {
      height: 13px;
    }
  }
}

.toolbar-aside {
  width: 200px;
}

.col-fixed {
  width: $fixed-size;
}

.content {
  flex: 1;

  &-container, & {
    background: lighten(#201c2b, 2%);
  }

  &-container {
    height: calc(100% - 60px);
  }
}

.sidebar-content {
  min-height: 100%;
  background: #16151F;
}

.sidebar, .content {
  padding: 5px;
}

.sidebar {
  width: $fixed-size;
  background: #16151F;

  &.collapse {
    width: 40px;
  }

  &.slide-leave-active, &.slide-enter-active {
    overflow: hidden;
    transition: 500ms;
  }

  &.slide-enter, &.slide-leave-to {
    transform: translate(-100%, 0);
    width: 0;
    opacity: 0;
    padding: 0;
    margin: 0
  }
}

.flex-container {
  display: flex;
}

.scrollable {
  overflow: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: $action-default;
  }

  &:hover {

    &::-webkit-scrollbar-thumb {
      background: $action-active;
    }
  }
}

.tile {
//  color: #000;
//  background: #fff;
//  border: 1px solid #16151F;
  margin-right: 5px;
}

.vue-switcher-theme--custom {
  &.vue-switcher-color--default {
    div {
      background-color: lighten(#16151F, 10%);

      &:after {
        // for the circle on the switch
        background-color: $action-active;
      }
    }

    &.vue-switcher--unchecked {
      div {
        background-color: #16151F; //lighten($action-default, 30%);

        &:after {
          background-color: $action-default;
        }
      }
    }
  }
}