<template>
    <window>
        <div slot="toolbar">
            <i :class="['fa', status.icon]"></i>
            Device on {{ $route.params.port }}
            <span :class="['badge', status.class]">{{ state }}</span>
        </div>

        <div slot="toolbar" class="pull-right">
            <button class="btn btn-default" :disabled="connected" @click="connect">
                <i class="fa fa-refresh"></i>
                Reconnect
            </button>

            <button class="btn btn-default" @click="cancel">
                <i class="fa fa-trash"></i>
                Discard
            </button>
        </div>

        <div slot="sidebar">
            <ul>
                <li v-if="! loading"
                    v-for="bank in config.banks"
                    :key="bank.index"
                    @click="selectBank(bank.index)">

                    {{ bank.name || `Bank ${bank.index}` }}
                </li>
            </ul>
        </div>

        <div>
            <h3 v-show="loading">Loading Config...</h3>
            <router-view></router-view>
        </div>
    </window>
</template>

<script>
    import Controller from '../lib/controller'

    import fs from 'fs';
    import path from "path";
    const {app} = require('electron');

    export default {
        methods: {
            cancel() {
                this.controller.destroy();

                this.closePort(this.device)
                    .then(() => {
                        this.$router.push('/');
                    });
            },
            async connect() {
                try {
                    this.device = await this.openPort(this.$route.params.port);
                    this.connected = this.device.isOpen;

                    this.controller = new Controller(this.device);

                    this.loading = true;

//                    this.config.settings = await this.controller.capabilities();
//                    this.config.banks = await this.controller.configuration(this.config.settings);
                    this.config = JSON.parse(fs.readFileSync(path.resolve(process.argv0, '../../../../device.config')));
//                    this.config.settings = await this.settings();
//                    await this.loadConfig();

//                    console.log(JSON.stringify(this.config));
                    this.loading = false;
                } catch (e) {
                    console.warn(e);
                    this.inuse = true;
                }
            },
            async openPort(path) {
                return new Promise((resolve, reject) => {
                    let port = SerialPort(path, {
                        autoOpen: false,
                        baudRate: 9600,
                    });

                    port.open(err => {
                        ! err ? resolve(port) : reject(err);
                    });
                });
            },
            async closePort(port) {
                return new Promise((resolve, reject) => {
                    // If the port isn't open or null
                    if (! port || port.isOpen)
                        resolve();

                    port.close(err => {
                        resolve(err);
                    });
                });
            },

            selectBank(id) {
                this.$router.push({
                    name: 'edit.patch',
                    params: { id }
                });
            }
        },
        computed: {
            connected: {
                get() {
                    return this.state === 'connected';
                },
                set(val) {
                    this.state = val ? 'connected' : 'disconnected';
                }
            },
            available: {
                get() {
                    return this.state === 'disconnected';
                },
                set(val) {
                    this.state = val ? 'disconnected' : 'in-use';
                }
            },
            inuse: {
                get() {
                    return this.state === 'in-use';
                },
                set(val) {
                    this.state = val ? 'in-use' : 'disconnected';
                }
            },
            status() {
                return {
                    class: this.connected ? 'badge-success' : this.inuse ? 'badge-warning' : 'badge-danger',
                    icon: this.connected ? 'fa-link' : 'fa-chain-broken'
                };
            }
        },
        data() {
            return {
                state: 'disconnected',
                loading: false,
                config: {
                    settings: {},
                    banks: []
                },
                device: null,
                controller: null,
            };
        },
        created() {
            this.connect();
        },
        beforeDestroy() {
            this.closePort(this.device);
        }
    }
</script>