<template>
    <div>
        <h4>Select a Patch to edit</h4>

        <button v-for="(patch, i) in patches">
            {{ i }}: {{ patch.name | print | placeholder('[no name]') }}
        </button>

        <button @click="$router.go(-1)">Back to Bank</button>
    </div>
</template>

<script>
    import path from "path";
    const {app} = require('electron');

    export default {
        props: {},
        computed: {
            patches() {
                return this.$store.state.config.banks[this.$route.params.id].patches;
            }
        },
        methods: {},
        data() {
            return {};
        },
        created() {
            this.$store.dispatch('loadConfigFile', path.resolve(process.argv0, '../../../../device.config'));
        }
    }
</script>

<style lang="scss">
</style>