<template>
    <window>
        <div slot="toolbar">
            <i class="fa fa-plug"></i>
            Port Selection
        </div>

        <div slot="toolbar" class="pull-right">
            <switcher v-model="refresh" theme="custom" color="default"></switcher>
            <span @click="refresh = ! refresh">Auto Refresh</span>

            <button class="btn btn-default" @click="enumeratePorts" :disabled="refresh">
                <i class="fa fa-refresh"></i>
                Refresh
            </button>
        </div>

        <div slot="sidebar">Test Sidebar</div>

        <div>
            <router-link v-for="port in ports"
                         :key="port.comName"
                         :to="{name: 'device', params: { port: port.comName }}"
                         :class="[
                            'btn',
                            'tile',
                            { 'btn-primary': port.available },
                            { 'btn-danger': ! port.available },
                            { disabled: ! port.available}]">

                {{ port.comName }}<br>
                {{ port.manufacturer }}
            </router-link>

        </div>
    </window>
</template>

<script>
    export default {
        data() {
            return {
                loading: false,
                color: null,
                ports: [],
                refresh: true,
                timer: null
            }
        },
        methods: {
            autoRefresh() {
                // Queue auto refresh
                this.timer = setTimeout(() => {
                    this.autoRefresh();
                }, 2000);

                if (this.refresh) {
                    this.enumeratePorts();
                }
            },
            async enumeratePorts() {
                this.loading = true;
                let ports = await SerialPort.list();

                for (let i = 0; i < ports.length; i++) {
                    let available = false;

                    try {
                        let p = await this.openPort(ports[i].comName);
                        await this.closePort(p);

                        available = true;
                    } catch (e) {
                        console.log(e);
                    }

                    ports[i].available = available;
                }

                this.ports = ports;
            },
            async openPort(path) {
                return new Promise((resolve, reject) => {
                    let port = SerialPort(path, { autoOpen: false });
                    port.open(err => {
                        ! err ? resolve(port) : reject(err);
                    });
                });
            },
            async closePort(port) {
                return new Promise((resolve, reject) => {
                    port.close(err => {
                        resolve(err);
                    });
                });
            }
        },
        created() {
            this.autoRefresh();
        },
        beforeDestroy() {
            clearTimeout(this.timer);
        }
    }
</script>

<style lang="scss">
</style>