<template>
</template>

<script>
    export default {
        props: {},
        computed: {},
        methods: {},
        data() {
            return {};
        }
    }
</script>

<style lang="scss">
</style>