<template>
    <div class="titlebar clearfix">
        <h1>
            {{ thePrefix }}
            {{ title }}
        </h1>
        <button class="btn window-control minimize-button" @click="minimize">
            <i class="fa fa-window-minimize"></i>
        </button>
        <button class="btn window-control maximize-button" @click="maximize">
            <i :class="['fa', maximized ? 'fa-chevron-down' : 'fa-chevron-up']"></i>
        </button>
        <button class="btn window-control close-button" @click="close">
            <i class="fa fa-close"></i>
        </button>
    </div>
</template>

<script>
    const remote = require('electron').remote;

    export default {
        props: {
            prefix: {
                default: null
            },
            title: {
                default: APP_NAME
            }
        },
        computed: {
            thePrefix() {
                if (! this.prefix)
                    return;

                let str = `${this.prefix} - `;
                for (let k in this.$route.params) {
                    str = str.replace(`{:${k}}`, this.$route.params[k]);
                }

                return str;
            }
        },
        methods: {
            minimize() {
                remote.getCurrentWindow().minimize();
            },
            maximize() {
                let window = remote.getCurrentWindow();

                if (window.isMaximized())
                    window.restore();
                else
                    window.maximize();

                this.maximized = window.isMaximized();
            },
            close() {
                remote.getCurrentWindow().close();
            }
        },
        data() {
            return {
                maximized: false
            };
        }
    }
</script>

<style lang="scss">

    .titlebar {
        -webkit-app-region: drag;
        min-height: 20px;
        height: 20px;
        width: 100%;
        background: #201c2b;
        /*min-height: 20px;*/
        border-bottom: 1px solid #2c2541;
        color: #fff;

        font-family: Arial;

        h1 {
            -webkit-margin-before: 0;
            -webkit-margin-after: 0;
            font-size: 14px;
            text-align: center;
            line-height: 20px;
        }

        button {
            -webkit-app-region: no-drag;
        }

        .window-control {
            position: absolute;
            height: 20px;
            border-radius: 0px;
            padding: 0px;
            margin: 0px;
            background: #342A62;
            min-width: 40px;
            line-height: 14px;

            &:hover {
                background: #7550b9;
            }
        }

        .window-control i {
            vertical-align: middle;
            font-size: 0.8rem;
            color: #fff;
        }

        .close-button {
            top: 0px;
            right: 0px;
        }

        .maximize-button {
            top: 0px;
            right: 40px;
        }

        .minimize-button {
            top: 0px;
            right: 80px;
            border-bottom-left-radius: 4px;
        }
    }

</style>