<template>
    <div class="toolbar">
        <div class="col-fixed">
            <button class="btn" @click="toggle">
                <i class="fa fa-bars"></i>
                {{ title }}
            </button>
        </div>
        <div class="col-fill menu">
            <slot></slot>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            collapsed: {
                default: false
            },
            title: {
                default: APP_NAME
            }
        },
        methods: {
            toggle() {
                this.$emit('update:collapsed', ! this.collapsed);
            }
        }
    }
</script>