<template>
    <div id="app">
        <toolbar :title="toolbarTitle" :collapsed.sync="collapsed">
            <slot name="toolbar"></slot>
        </toolbar>

        <div class="flex-container content-container">
            <transition name="slide">
                <div v-show="displaySidebar" :class="['sidebar', 'scrollable']">
                    <slot name="sidebar"></slot>
                </div>
            </transition>

            <div class="content scrollable">
                <slot></slot>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'title',
            'toolbarTitle'
        ],
        computed: {
            hasSidebar () {
                return !!this.$slots['sidebar']
            },
            displaySidebar() {
                return (!! this.$slots['sidebar']) && ! this.collapsed;
            }
        },
        data() {
            return {
                collapsed: false,
            }
        }
    }
</script>